:root {
	--color-white: #fff;
	--color-black: #000;
	--color-dark-gray: #10100e;

	--font-family-main: sans-serif;

	--border-radius-small: 5px;

	--theme-default-header: #cccc48;
}

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	text-decoration: none;
	list-style: none;
}



body {
  font-family: var(--font-family-main);
	font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-dark-gray);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.header-text {
  font-size: 18px;
  line-height: 1.7;
  color: var(--theme-default-header);
  text-shadow: 0 0 2px black;
  transition: color 400ms ease-in-out;

  &:active {
    color: aqua;
  }
}