.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 20px 0;
}

.headerNavLink a {
  display: block;

  min-width: 70px;

  padding: 7px 10px;

  font-size: 18px;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 2px white, 0 0 40px blueviolet;
  transition: all 400ms ease-in-out;

  border: 2px solid transparent;
}

.headerNavLink :global(a.active) {
  color: #ae72c2;
  border: 2px solid #ae72c2;
  border-radius: 3px;
  text-shadow: none;
}
